html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}

header {
    background-color: lightblue;
    border: red solid;
    display:flex;
    justify-content: space-between;
    margin: 1rem;
    padding-left: 10px;
}


header h1{
    font-size:xx-large;
    font-weight: 900;
    text-decoration: underline;
}


header h3{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.image1{
    width: 20px;
}
.image2{
    width: 40px;
}

.image3{
    width: 250px;
    border-radius:50%;
    border:rgb(192, 25, 25) solid;
    margin: 4px;
}

article{
    margin: 0rem 2rem;
}

.bio{
    background-color: lightpink;
    border: rgb(192, 15, 15) solid;
    padding: 0.5rem;
    margin: 0.5rem;
}

.skills{
    background-color:lightgreen ;
    border: red solid;
    padding: 0.5rem;
    margin: 0.5rem;
}
.experience{
    background-color: lightskyblue ;
    border: red solid;
    padding: 0.5rem;
    margin: 0.5rem;
}
.projects{
    background-color: lightslategrey;
    border: red solid;
    padding: 0.5rem;
    margin: 0.5rem;
}
.academics{
    background-color:lightsalmon ;
    border: red solid;
    padding: 0.5rem;
    margin: 0.5rem;
}
.cocurr{
    background-color:lightcoral ;
    border: red solid;
    padding: 0.5rem;
    margin: 0.5rem;
}