@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.container{
    display: flex;

}

.sidebar{
    position: absolute;
    background-color: rgb(224, 214, 214);
    font-size: 30px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in;
}

.profilePhoto{
    width: 250px;
    border-radius: 130px;  
    justify-content: flex-start;
  
}

.main{
    margin: 10px;
    width: 80vw;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 200;
    
}

.subMain{
    margin-top: 100px;
    margin-left: 30px;
    padding: 20px;
    color:rgb(1, 6, 36);
}

li{
    
    list-style: none;
    margin: 2rem;
}
li a{
    text-decoration: none;
}

.hello{
    font-family: 'Neonderthaw', cursive;
}
.name{
    font-family: 'Quintessential', cursive;
    margin-left: 1rem;
    font-weight: 900;
}
.designation{
    font-family: 'Quintessential', cursive;
    margin-left: 1rem;
    margin-top: -10px;
}
.para{
    margin-left: 1rem;
}
button{
    margin: 5px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
button:hover{
    background-color: white;
    color: blue;
}

.form-attribute{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-weight: bold;
}


form{  
    padding-left: 20px;
    font-weight: bold;
}
.form-text{
    font-size: small;
    font-weight: lighter;
    color: midnightblue;
}

.contactForm h1{
    padding-left: 20px;
    font-weight: 900;  
}
.contactForm{
    display: flex;
    flex-direction: column;

    padding-left: 4rem;
}
.form-control{
    width: 30vw;
    border-radius: 8px;
    margin-top: 6px;
    padding: 3px;
}

.sidebarGO{
    transform: translate(-350px, 0px);
    position: absolute;
}   

@media (max-width: 1000px){

/* .sidebar{
    transform: translate(-350px, 0px);
    position: absolute;
}     */
}

.cross{
    width: 20px;
    margin-left: 230px;
    cursor: pointer;
}

.ham{
    width: 20px;
    cursor: pointer;
}
.crossHam{
    display: flex;
    justify-content: space-between;
}